.FooterBody {
  margin-top: 200px;
  height: 320px;
  background: #f8fafe;
  border-radius: 40px;
  display: flex;
  justify-content: space-around;
  padding-top: 80px;
}

.FooterFont1 {
  font-family: "Arial";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #181b32;
}

.FooterFont2 {
  font-family: "Arial";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  color: #666680;
}

.FooterFont3 {
  margin-left: 28px;
  font-family: "Axiforma";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  color: #181b32;
}

.FooterFont4 {
  font-family: "Axiforma";
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 24px;
  color: #666680;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  color: #666680;
  padding-top: 25px;
  line-height: 38px;
}

.FooterFont2 > li {
  padding-top: 20px;
}

.FooterLeft {
  width: 260px;
  height: 127px;
}

.Logo-First-Half {
  margin-top: 13px;
  height: 14px;
  width: 28px;
  border-radius: 2px;
  background: #524fd5;
  transform: skew(-40deg);
  rotate: 142deg;
}
.Logo-Second-Half {
  margin-top: 13px;
  margin-left: 21px;
  position: absolute;
  height: 14px;
  width: 28px;
  border-radius: 2px;
  background: #e8e8f6;
  transform: skew(-40deg);
  rotate: 142deg;
}

.FooterCompanyName {
  display: flex;
}

.FooterRight {
  display: flex;
  justify-content: space-between;
  width: 160px;
}

.FooterMedia {
  border: 1px solid #e8e8f6;
  width: 41px;
  height: 41px;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
