.TopPageBody {
  height: 680px;
  background: #fff5f1;
  border-radius: 40px;
  padding: 50px 100px 50px 100px;
}

.TopPageNavbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 52px;
}

.TopPageMatter {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}

.TopPageDescription {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 25px;
  gap: 32px;
}

.TopPagePicture {
  width: 500px;
  height: 500px;
}

.TopPageFont1 {
  width: 558px;
  height: 213px;
  font-family: "Arial";
  font-style: normal;
  font-weight: 300;
  font-size: 56px;
  line-height: 126%;
  color: #181b32;
}

.TopPageFont2 {
  width: 350px;
  height: 68px;
  font-family: "Arial";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 190%;
  color: #666680;
}

.TopPageFont3 {
  width: 107px;
  height: 30px;
  font-family: "Arial";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  color: #ffffff;
}

.TopPageFont4 {
  width: 55px;
  height: 24px;
  font-family: "Axiforma";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  color: #666680;
}

.TopPageFont5 {
  width: 63px;
  height: 28px;
  font-family: "Arial";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  color: #181b32;
  margin-left: 30px;
}

.TopPageFont6 {
  width: 84px;
  height: 28px;
  font-family: "Arial";
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 28px;
  text-align: center;
  color: #524fd5;
}

.TopPageBlueText {
  color: #524fd5;
}

.TopPageButton {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 24px 32px;
  width: 90px;
  height: 12px;
  background: #524fd5;
  border-radius: 73px;
}

.TopPageNavbarMid {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 550px;
  height: 36px;
  list-style: none;
}

.TopPageLogo-First-Half {
  margin-top: 8px;
  height: 14px;
  width: 28px;
  border-radius: 2px;
  background: #524fd5;
  transform: skew(-40deg);
  rotate: 142deg;
}
.TopPageLogo-Second-Half {
  margin-top: 8px;
  margin-left: 21px;
  position: absolute;
  height: 14px;
  width: 28px;
  border-radius: 2px;
  background: #ffc0b4;
  transform: skew(-40deg);
  rotate: 142deg;
}

.TopPageNavbarRight {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 32px;
  width: 70px;
  background: #ffffff;
  border-radius: 73px;
}

.TopPageBase {
  height: 534px;
  background: #ffd6b0;
  opacity: 0.3;
  border-radius: 60px;
  transform: rotate(-4.37deg);
}

.TopPageImageContainer {
  position: relative;
  top: -534px;
  height: 534px;
  background: #ffd6b0;
  border-radius: 60px;
  transform: rotate(10deg);
  overflow: hidden;
}

.TopPageGirlImg {
  position: relative;
  top: 5px;
  left: -50px;
  transform: rotate(-10deg);
}

.HeaderImg3 {
  position: absolute;
  top: 230px;
  left: 790px;
  overflow: hidden;
  z-index: 2;
  height: 80px;
  width: max-content;
  border-radius: 24px;
}

.HeaderImg33 {
  height: 80px;
}

.HeaderImg2 {
  position: absolute;
  top: 330px;
  left: 1300px;
  overflow: hidden;
  z-index: 2;
  height: 100px;
  width: max-content;
  border-radius: 24px;
}

.HeaderImg22 {
  height: 100px;
}

.HeaderImg1 {
  position: absolute;
  top: 650px;
  left: 1040px;
  overflow: hidden;
  z-index: 2;
  height: 130px;
  width: max-content;
  border-radius: 24px;
}

.HeaderImg11 {
  height: 130px;
}
